body:before {
  content: "";
  display: block;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
body:after {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff9a8b;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -moz-transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
  -webkit-transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
  -ms-transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
  transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
body {
  font-family: "Karla", sans-serif;
}
#welcome_card {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
